<div id="{{Title}}-{{Part}}">
   <div class="tracktitle">
      <h3>{{Title}} - {{Part}}</h3>
   </div>
   <ul class="songproperties">
      <li class="songTitle">Song Title: {{Title}}</li>
      <li class="part">Voice Part: {{Part}}</li>
      <li class="albumTitle">Album: {{AlbumTitle}}</li>
      <li class="artist">Artist: {{Artist}}</li>
      <li class="year">Year: {{Year}}</li>
      <li class="description">Description: {{Description}}</li>
   </ul>
</div>